!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Reporter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .well
          %h1 Records
          %h5
            =@version_count if @version_count
            Versions
            %br
            Latest Version:
            =@latestversion if @latestversion
            %br
            =link_to 'Select Columns', admin_index_path, class: 'btn btn-primary'
    = yield
    -# = render 'layouts/development_info'
